result/
build
node_modules

# build output
site/dist/
# generated types
site/.astro/

# dependencies
site/node_modules/

# logs
site/npm-debug.log*
site/yarn-debug.log*
site/yarn-error.log*
site/pnpm-debug.log*


# environment variables
site/.env
site/.env.production

# macOS-specific files
site/.DS_Store

# jetbrains setting folder
site/.idea/

site/.vscode/
site/.vale/

*.Identifier

# Ignore generated docs build output

result

.direnv/
