---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Page Not Found">
  <main class="text-center">
    <h1 class="text-6xl font-mono mb-4">404</h1>
    <h2 class="text-lg mb-4">Lost in the Maze</h2>
    <p class="text-gray-600 mb-6">You've wandered from the path, and gotten lost in the maze.</p>
  <a href="/">← Return to the Start</a>
  </main>
</Layout>
