---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Uses">
  <main class="max-w-4xl mx-auto">
    <h1 class="text-2xl font-bold mb-6">
      <span class="text-[#5D3B8E] dark:text-[#cc6600]">*</span> uses
    </h1>

    <section>
      <h2 class="text-xl font-semibold mb-3">Some computer bits</h2>
      <ul class="list-dash list-outside space-y-1 pl-3 sm:pl-6">
        <li>
          <a href="https://www.github.com/pixel-87/cantor-pixel"
            >Cantor-remix keyboard</a
          >
        </li>
        <li>Ryzen 7500F</li>
        <li>Radeon RX 6650 XT</li>
      </ul>
    </section>
  </main>
</Layout>
